SECRET_KEY=retail_forecasting_secret_key

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=retail_demand_forecasting
MYSQL_USER=root
MYSQL_PASSWORD=subasri14585

# Power BI embed URL
POWERBI_REPORT_URL=https://app.powerbi.com/reportEmbed?reportId=<YOUR_REPORT_ID>&groupId=<YOUR_GROUP_ID>&config=<YOUR_EMBED_CONFIG>
POWERBI_REPORT_ID=<YOUR_REPORT_ID>
POWERBI_GROUP_ID=<YOUR_GROUP_ID>
POWERBI_EMBED_CONFIG={"filterPaneEnabled":false,"navContentPaneEnabled":false}

# ============================================================
# EMAIL CONFIGURATION
# ============================================================

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

SMTP_USERNAME=subasriganeshpandian@gmail.com
SMTP_PASSWORD=ztei wyey riit nzvn

SMTP_FROM_EMAIL=subasriganeshpandian@gmail.com
